@model IEnumerable<Ergasiomanis.Models.titles>

@{
    ViewBag.Title = "Index";
}
<h2>Search</h2>
<form>
    <table class="table">
        <tr><td>Title</td><td>Type</td><td>From Price</td><td>To Price</td><td>From Advance</td><td>To Advance</td></tr>
        <tr>
            <td><input type="text" id="titlesTitle" name="titlesTitle" /></td>
            <td><input type="text" id="titlesType" name="titlesType" /></td>
            <td><input type="number" id="titlesFromPrice" name="titlesFromPrice" /></td>
            <td><input type="number" id="titlesToPrice" name="titlesToPrice" /></td>
            <td><input type="number" id="titlesFromAdvance" name="titlesFromAdvance" /></td>
            <td><input type="number" id="titlesToAdvance" name="titlesToAdvance" /></td>
        </tr>
        <tr><td>From Royalty</td><td>To Royalty</td><td>From Times Sold</td><td>To Times Sold</td><td>Notes</td></tr>
        <tr>
            <td><input type="number" id="titlesFromRoyalty" name="titlesFromRoyalty" /></td>
            <td><input type="number" id="titlesToRoyalty" name="titlesToRoyalty" /></td>
            <td><input type="number" id="titlesFromTimesSold" name="titlesFromTimesSold" /></td>
            <td><input type="number" id="titlesToTimesSold" name="titlesToTimesSold" /></td>
            <td><input type="text" id="titlesNotes" name="titlesNotes" /></td>
        </tr>
        <tr><td>From Release Date</td><td>To Release Date</td>
        <td>Publisher Name</td><td>Title Id</td></tr>
        <tr>
        <td><input type="date" id="titlesFromReleaseDate" name="titlesFromReleaseDate"/></td>
        <td><input type="date" id="titlesToReleaseDate" name="titlesToReleaseDate" /></td><td><input type="text" id="titlesPublisherName" name="titlesPublisherName"/></td>
        <td><input type="text" id="titlesTitleId" name="titlesTitleId"/></td>
        </tr>
        <tr><td><button type="submit">Search</button><button type="reset">Reset</button></td></tr>
    </table>
</form>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    @if (ViewBag.ar)
    {
        
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        }
    </script>
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.royalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ytd_sales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pubdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publishers.pub_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roysched.title_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.advance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.royalty)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ytd_sales)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.notes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pubdate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.publishers.pub_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.roysched.title_id)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.title_id }) |
        @Html.ActionLink("Details", "Details", new { id = item.title_id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.title_id })
    </td>
</tr>
}

</table>
