@model IEnumerable<Ergasiomanis.Models.stores>

@{
    ViewBag.Title = "Index";
}
<h2>Search</h2>

<form>
    <table class="table">
        <tr><td> Store Name</td> <td>Store Address</td><td>City</td><td>State</td><<td>Zip</td></tr>
        <tr>><td><input type="text" id="StName name="StName" /></td><td><input type="text" id="StAdr" name="StAdr" /></td><td><input type="text" id="City" name="City" /></td><td><input type="text" id="State" name="State" /></td><td><input type="number" id="zip" name="zip"</td></tr>
        <tr><td><button class="buttona" type="submit">Search</button>   <button class="buttona" type="reset">Reset</button></td></td></tr>
    </table>
</form>
<h2>Stores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stor_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stor_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stor_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zip)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.stor_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.stor_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.stor_id })
            </td>
        </tr>
    }

</table>
