@model IEnumerable<Ergasiomanis.Models.authors>

@{
    ViewBag.Title = "Index";
}

<h2>Search</h2>
<form>
    <table class="table">
        <tr><td>Author Id</td><td>Last Name</td><td>First Name</td><td>Phone</td><td>Address</td><td>City</td><td>State</td></tr>
        <tr><td><input type="text" id="authorId" name="authorId"/></td>
        <td><input type="text" id="authorLastName" name="authorLastName"/></td><td><input type="text" id="authorFirstName" name="authorFirstName"/></td>
        <td><input type="text" id="authorPhone" name="authorPhone"/></td><td><input type="text" id="authorAddress" name="authorAddress"/></td>
        <td><input type="text" id="authorCity" name="authorCity"/></td><td><input type="text" id="authorState" name="authorState"/></td>
        </tr>
        <tr><td>Zip</td><td>Contract</td></tr><tr><td><input type="text" id="authorZip" name="authorZip" /></td>
    <td><input type="checkbox" id="authorContract" name="authorContract" /></td>
</tr>
        <tr><td ><button type="submit" style="background: #fff; border-radius: 9px; border-width: 1px; border-color: black; height: 25px; width: 80px;">Search</button>     <button style="width: 80px; background: #fff; border-radius: 9px; border-width: 1px; border-color: black; height: 25px;"  type="reset">Reset</button></td>
            
    </table>

</form>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new  { @class= "glyphicon glyphicon - add" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.au_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contract)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.au_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.au_lname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.au_fname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.city)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.state)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.zip)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.contract)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.au_id }, new { @class = "glyphicon glyphicon-pencil" }) |
        @Html.ActionLink("Details", "Details", new { id = item.au_id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.au_id })
    </td>
</tr>
}

</table>
