@model IEnumerable<Ergasiomanis.Models.discounts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lowqty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.highqty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stores.stor_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lowqty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.highqty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stores.stor_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id1=item.discounttype, id2=item.discount }) |
            @Html.ActionLink("Details", "Details", new { id1 = item.discounttype, id2 = item.discount }) |
            @Html.ActionLink("Delete", "Delete", new { id1 = item.discounttype, id2 = item.discount })
        </td>
    </tr>
}

</table>
