@model IEnumerable<Ergasiomanis.Models.titleauthor>

@{
    ViewBag.Title = "Index";
}
<h2>Search</h2>
<form>
    <table class="table">
        <tr><td>From Author Order</td><td>To Author Order</td><td>From Royalty per Book</td><td>To Royalty per Book</td><td>Last Name</td><td>Title</td></tr>
        <tr><td><input type="number" id="FromAuthorOrder" name="FromAuthorOrder"/></td><td><input type="number" id="ToAuthorOrder" name="ToAuthorOrder"/></td>
        <td><input type="number" id="FromRpB" name="FromRpB"/></td><td><input type="number" id="ToRpB" name="ToRpb"/></td><td><input type="text" id="LastName" name="LastName"/></td>
        <td><input type="text" id="Title" name="Title"/></td></tr>
        <tr><td><button type="submit" style="background: #fff; border-radius: 9px; border-width: 1px; border-color: black; height: 25px; width: 80px;">Search</button>   <button type="reset" style="width: 80px; background: #fff; border-radius: 9px; border-width: 1px; border-color: black; height: 25px;">Reset</button></td></tr>
    </table>
</form>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.au_ord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.royaltyper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.authors.au_lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titles.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.au_ord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.royaltyper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.authors.au_lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titles.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id1=item.au_id, id2=item.title_id  }) |
            @Html.ActionLink("Details", "Details", new { id1 = item.au_id, id2 = item.title_id }) |
            @Html.ActionLink("Delete", "Delete", new { id1 = item.au_id, id2 = item.title_id })
        </td>
    </tr>
}

</table>
