@model IEnumerable<Ergasiomanis.Models.roysched>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lorange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hirange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.royalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titles.title)
        </th>
        <th></th>
    </tr>



@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lorange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hirange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.royalty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title_id)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.title_id, id2 = item.lorange, id3 = item.hirange, id4 = item.royalty }) 
        </td>
    </tr>
}

</table>
