<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css/Bootstrap.css")
    @Styles.Render("~/Content/ergmvc.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="menu-bar">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>
                <a href=#>About Authors/Titles</a>
                <div class="sub-menu">
                    <ul>
                        <li>@Html.ActionLink("Authors", "Index", "authors")</li>
                        <li>@Html.ActionLink("Title Authors", "Index", "titleauthors")</li>
                        <li>@Html.ActionLink("Royscheds", "Index", "royscheds")</li>
                        <li>@Html.ActionLink("Titles", "Index", "titles")</li>
                    </ul>
                </div>
            </li>
            <li>
                <a href=#>About Stores/Sales</a>
                <div class="sub-menu">
                    <ul>
                        <li>@Html.ActionLink("Sales", "Index", "sales")</li>
                        <li>@Html.ActionLink("Discounts", "Index", "discounts")</li>
                        <li>@Html.ActionLink("Stores", "Index", "stores")</li>
                    </ul>
                </div>
            </li>
            <li>
                <a href=#>About Workers/Partners</a>
                <div class="sub-menu">
                    <ul>
                        <li><a href="#">@Html.ActionLink("Jobs", "Index", "jobs")</a></li>
                        <li><a href="#">@Html.ActionLink("Employees", "Index", "employees")</a></li>
                        <li><a href="#">@Html.ActionLink("Publishers", "Index", "publishers")</a></li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
