@model IEnumerable<Ergasiomanis.Models.employee>

@{
    ViewBag.Title = "Index";
}
<h2>Search</h2>
<form>
    <table class="table">
        <tr><td>Last Name</td><td>First Name</td><td>Minit</td><td>From Job Level</td><td>To Job Level</td><td>From Hire Date</td><td>To Hire Date</td></tr>
        <tr><td><input type="text" id="employeeLastName" name="employeeLastName"/></td><td><input type="text" id="employeeFirstName" name="employeeFirstName"/></td>
        <td><input type="text" id="employeeMinit" name="employeeMinit"/></td><td><input type="number" id="employeeFromJobLevel" name="employeeFromJobLevel"/></td>
        <td><input type="number" id="employeeToJobLevel" name="employeeToJobLevel" /></td>
        <td><input type="date" id="employeeFromHireDate" name="employeeFromHireDate"/></td><td><input type="date" id="employeeToHireDate" name="employeeToHireDate" />
               </td></tr>
        <tr><td>Job Desctiption</td><td>Publisher Name</td></tr>
        <tr>
            <td><input type="text" id="employeeJobDesc" name="employeeJobDesc" /></td>
            <td><input type="text" id="employeePublisherName" name="employeePublisherName" /></td>
        </tr>
        <tr><td><button type="submit" style="background: #fff; border-radius: 9px; border-width: 1px; border-color: black; height: 25px; width: 80px;">Search</button><button type="reset" style="background: #fff; border-radius: 9px; border-width: 1px; border-color: black; height: 25px; width: 80px;">Reset</button></td></tr>
    </table>
</form>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_lvl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hire_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobs.job_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publishers.pub_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job_lvl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hire_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobs.job_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publishers.pub_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.emp_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.emp_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.emp_id })
        </td>
    </tr>
}

</table>
