@model IEnumerable<Ergasiomanis.Models.titleview>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.au_ord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ytd_sales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pub_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.au_ord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ytd_sales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pub_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id1=item.title , id2=item.au_lname  }) |
            @Html.ActionLink("Details", "Details", new { id1 = item.title, id2 = item.au_lname }) |
            @Html.ActionLink("Delete", "Delete", new { id1 = item.title, id2 = item.au_lname })
        </td>
    </tr>
}

</table>
